* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #009B97;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #009B97 0%, #E4E4E4 70%);
    background-image: -ms-linear-gradient(top, #009B97 0%, #E4E4E4 70%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #009B97), color-stop(0.70, #E4E4E4) );
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:40%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center; /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


form li{
    border: 2px ridge rgba(187, 185, 189, 0.11);
    border-radius: 0.3em;
    -webkit-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -o-border-radius:0.3em;
    list-style:none;
    margin-bottom:12px;
    background:#F0EEF0;

}
input[type="text"], input[type="password"] {
    font-family: 'Droid Sans', sans-serif;
    width: 100%;
    padding: 0.5em 0em 0.5em 1em;
    color: #009B97;
    font-size: 20px;
    outline: none;
    background: none;
    border: none;
}

input[type="text"]:focus, input[type="password"]:focus{ 
    outline: none;
    border-color: #009B97;
    box-shadow: 0 0 10px #009B97;
}
input[type="text"]:hover, input[type="password"]:hover{
    color:#009fB97;
}
.login > input[type="text"]:hover, .login > input[type="password"]:hover{
    color:#009fB97;
}
.submit h4 a{
    float:left;
    font-size: 16px;
    color: #999;
    font-weight: 400;
    font-family: 'Droid Sans', sans-serif;
    margin-top: 15px;
    margin-left: 21px;
}
.submit h4 a:hover{
    color:#009B97;
}
/*************************/
.submit{
    padding-top:3em;
}
input[type="submit"] {
    float: left;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
    outline: none;
    font-family: 'Raleway', sans-serif;
    padding: 12px 0px;
    width: 100%;
    font-size: 18px;
    background:#009B97;
    border:2px solid #009B97;
    border-radius: 0.5em;
    -webkit-border-radius:0.5em;
    -moz-border-radius:0.5em;
    -o-border-radius:0.5em;
}
input[type="submit"]:hover {
    background: #fff;
    color:#009B97;
    border:2px solid #009B97;
}
.logout{
    padding: 3em 2em;
    background: #F2F2F2;
    font-size: 25pt;
    color: #c5c5c5;
}